[Unit]
Description=nginxReloader
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/home/nginxReloader
ExecStart=bash /home/nginxReloader/nginxReloader.sh

[Install]
WantedBy=multi-user.targetroot
